<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div style="background-color: rgb(216, 216, 216); padding: 10px;">
    <a href="/admin">Home</a>
    <a href="/admin/course">list course</a>
    <a href="/admin/add-category">add category</a>
  </div>
  <h1>Daftar Course</h1>

  <a href="/admin/add-course">add course</a>

  <table border="1">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Nama</th>
        <th scope="col">Descripsi</th>
        <th scope="col">Durasi Bimbingan</th>
        <th scope="col">Tanggal Update</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% courses.map(function(el, i) { %>
        <tr>
          <th scope="row">
            <%= i+1 %>
          </th>
          <td>
            <%= el.name %>
          </td>
          <td>
            <%= el.description %>
          </td>
          <td>
            <%= el.duration %>
          </td>
          <td>
            <%= formatTanggal(el.updatedAt) %>
          </td>
          <td>
            <a href="/admin/<%= el.id %>/edit" button type="button"><button
                class="btn btn btn-primary">Edit</button></a>
            <a href="/admin/<%= el.id %>/delete" button type="button"><button class="btn btn-danger">Delete</button></a>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</body>

</html>