<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color: rgb(216, 216, 216); padding: 10px;">
      <a href="/user">Home</a>
      <a href="/user/course">Course</a>
      <a href="/user/profile">User Profile</a>
    </div>
    <div>
        <h1>Daftar Course</h1>
        <table border ="1">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Descripsi</th>
                <th scope="col">Durasi Bimbingan</th>
                <th scope="col">Tanggal Update</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% data.Courses.map(function(el, i) { %>
                    <tr>
                      <th scope="row"><%= i+1 %></th>
                      <td><%= el.name %></td>
                      <td><%= el.description %></td>
                      <td><%= el.duration %></td>
                      <td><%= formatTanggal(el.updatedAt) %></td>
                      <td>
                  
                      </td>
                    </tr>
                <% }) %> 
            </tbody>
          </table>
    </div>
</body>
</html>